<a href="/api" class="btn btn-primary"><i class="bi bi-house-door-fill"></i> Home</a>

{{#if alert}}
<div class="alert alert-success alert-dismissible fade show mt-2" role="alert">
    {{alert}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

<form class="row g-3 needs-validation mt-2" method="post" action="/api/adduser">
    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" value="" placeholder="First Name"
                name="first_name">
            <label for="floatingInput">First Name</label>
        </div>
    </div>
    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" value="" placeholder="Last Name"
                name="last_name">
            <label for="floatingInput">Last Name</label>
        </div>
    </div>
    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" value="" placeholder="email@email.com"
                name="email">
            <label for="floatingInput">Email</label>
        </div>
    </div>
    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" value="" placeholder="Phone" name="phone">
            <label for="floatingInput">Phone</label>
        </div>
    </div>
    <div class="col-12">
        <div class="form-floating mb-3">
            <textarea class="form-control" placeholder="Leave a comment here" id="comments" name="comments"
                style="height: 200px"></textarea>
            <label for="comments">Comments</label>
        </div>
    </div>
    <div class="col-12 d-grid">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>